
BasedOnStyle: LLVM

ColumnLimit: 100
LineEnding: LF

PointerAlignment: Left
AlignTrailingComments: Never
AlignArrayOfStructures: Left
AlignEscapedNewlines: DontAlign

SeparateDefinitionBlocks: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: true
BinPackParameters: true
InsertNewlineAtEOF: true

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"\.\.'
    Priority: 1
    SortPriority: 2
  - Regex: '^"'
    Priority: 1
    SortPriority: 1
  - Regex: '^<glad'
    Priority: 3
  - Regex: '^<glm'
    Priority: 4
  - Regex: '^<boost'
    Priority: 5
  - Regex: '^<SDL3'
    Priority: 6
  - Regex: '^<assimp'
    Priority: 7
  - Regex: '^<imgui'
    Priority: 8
    # small libraries
  - Regex: '^<stb'
    Priority: 32
    SortPriority: 32
  - Regex: '^<magic_enum'
    Priority: 32
    SortPriority: 33
  - Regex: '^<PerlinNoise'
    Priority: 32
    SortPriority: 34
    # standard library
  - Regex: '.*'
    Priority: 999

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
IndentPPDirectives: BeforeHash
AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment

IntegerLiteralSeparator:
    Decimal: 3
    Binary: 8 # a byte
    Hex: 8 # 4 bytes

